* {
  margin: 0;
  padding: 0;

}

html, body {
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 600px;
}