#chinese-room {
    height: 50%;
    margin: 0;
    padding: 0;
    background: 
        url("deskPerson.png") center 68% / 10vh auto no-repeat,
        url("house.png") center 20% / 65vh auto no-repeat,
        url("outside.jpeg") center/contain repeat-x;


    position: relative;
    border-bottom: 4px solid black;
}



.house > img {
    position: absolute;
}

.level-data {
    height: 40%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-bar {
    border-radius: 10px;
    width: 80%;
    height: 30%;

    background-color: rgba(133, 149, 173, 0.75);
    border: 1px solid blue;
}

.level-progress {
    background-color: rgb(47, 190, 47);
    transition: width 0.5s;
    border-radius: 10px;
}

.level-number > span {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}