#desk {
    height: 50%;
    background-image: url("desk.jpg");
    margin: 0;
    padding: 0;
    background-size: contain;

    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-areas: "orders workspace dictionary rules";

    width: 100%;
}

#desk > * {
    position: relative;
}

.orders {
    grid-area: orders;
    height: 100%;
    position: relative;
}

.paper-ui {
    position: fixed;
    z-index: 12;
}

.paper {
    background-image: url("paper.png");
    width: 29vh;
    height: auto;
    padding: 20px;

    object-fit:contain;

    cursor: grab;

    font-size: 20px;

}

.order > span {
    display: block;
    padding-bottom: 3px;
}

.output {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;

    display: grid;
    grid-template-rows: 20% 30% 10% 30% 10%;
    grid-template-areas: 
    "."
    "bin"
    "."
    "paper-container"
    ".";

    z-index: 10;

    transform: translateX(100%);
    transition: all 0.3s ease;
}

.output-display {
    transform: translateX(0);

}


.bin {
    grid-area: bin;
    background-image: url("bin.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;


}

.paper-container {
    grid-area: paper-container;

    background-image: url("paperContainer.png");
    background-position: center center;

    background-size: contain;
    background-repeat: no-repeat;


}

.workspace {
    grid-area: workspace;
    margin: 8px;
    padding: 2vh;

    background-image: url("paper.png");
    background-size: cover; 

    display: flex;
    gap: 12px;
    position: relative;

}

.paper-furl-btn {
    all: unset;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
}

.workspace:has(.paper-furl-btn:hover) {
    background-image: url("paperFurl.png");
}

.rules {
    all: unset;
    cursor: pointer;
}

.rules > img {
    height: 40vh;

}

.dictionary {
    grid-area: dictionary;

    all: unset;
    cursor: pointer;

}

.dictionary > img {
    height: 40vh;
    margin: 0;
}

.default-off {
    visibility: hidden;
}

.container {
    display: flex;
    gap: 6px;
    flex-direction: row
}

.dictionary-ui {
    background-color: aliceblue; 
    border: 1px solid black; 
    position:fixed; 

    padding:6px;
    
    width: 50vh; 
    height: 30vh; 
    cursor: grab;
}

.draggable {
    padding: 4px;
    width: auto;
    height: min-content;
    background-color: rgb(245, 245, 220);
    border: 1px solid black;
    cursor: grab;
    z-index: 5;
}


.dragging {
    background-color: rgba(245, 245, 220, 0.6);
    border: 1px solid rgb(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}

.rules {
    grid-area: rules;

}