#desk {
    height: 50%;
    background-image: url("desk.jpg");
    margin: 0;
    padding: 0;
    background-size: contain;

    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-areas: "orders workspace dictionary rules";

    width: 100%;
}

#desk > * {
    position: relative;
}

.orders {
    height: 100%
}

.workspace {

    margin: 8px;
    padding: 2vh;

    background-image: url("paper.png");
    background-size: cover; 
    display: flex;
    gap: 12px;
}

.workspace > img {
    height: 40vh
}

.rules {
    all: unset;
    cursor: pointer;
}

.rules > img {
    height: 40vh;

}

.dictionary {
    all: unset;
    cursor: pointer;

}

.dictionary > img {
    height: 40vh;
    margin: 0;
}

.default-off {
    visibility: hidden;
}

.dictionary-ui {
    background-color: aliceblue;
    border: 1px solid black;
    position:fixed;
    z-index: 10;
    top: 50%;
    left: 50%;

    display: flex;
    gap: 6px;

    width: 120px;
    height: 60px;

    cursor: grab;
}

.draggable {
    padding: 2px;
    width: auto;
    height: min-content;
    background-color: beige;
    border: 1px solid black;
    cursor: grab;
}